<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#" lang="en">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135606573-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-135606573-1');
    </script>
    <meta charSet="utf-8" />
    <title>Daniel Flores ~ @devniel - making ideas happen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Daniel Flores ~ @devniel - making ideas happen">
    <meta name="description" content="A crafter building things with code and full-stack software engineer @Criteo; previously @IBM.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.devniel.com/">
    <meta property="og:title" content="Daniel Flores ~ @devniel - making ideas happen">
    <meta property="og:description" content=" A crafter building things with code and full-stack software engineer @Criteo; previously @IBM.">
    <meta property="og:image" content="https://www.devniel.com/media/me-social.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.devniel.com/">
    <meta property="twitter:title" content="Daniel Flores ~ @devniel - making ideas happen">
    <meta property="twitter:description" content="A crafter building things with code and full-stack software engineer @Criteo; previously @IBM.">
    <meta property="twitter:image" content="https://www.devniel.com/media/me-social.png">
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href='media/apple-touch-icon.png'
    />
    <link rel="icon" type="image/png" sizes="32x32" href='media/favicon-32x32.png' />
    <link rel="icon" type="image/png" sizes="16x16" href='media/favicon-16x16.png' />
    <link rel="manifest" href='media/site.webmanifest' />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>