$break-xsmall: 320px;
$break-small: 768px;
$break-large: 1200px;

.Home {
  background: #fafafa;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .Home__header {
    width: auto;
    display: table-cell;
    vertical-align: middle;

    .Logo {
      display: table-cell;
      visibility: hidden;
    }
  }

  .Home__body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Dail {
      position: absolute;
      top: 80px;
    }
  }

  .Home__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Home__footer-left {
      font-size: 1.375rem;
      color: #13171a;
      font-weight: 300;
    }

    .Home__footer-right,
    .Home__footer-links {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .Home__footer-link {
        & + .Home__footer-link {
          margin-left: 10px;
        }

        svg {
          cursor: pointer;
          fill: #d8d8d8;
          width: 36px;
          height: 36px;
          &:hover {
            fill: #13171a;
          }
        }
      }
    }

    @media screen and (max-width: $break-xsmall) {
      flex-direction: column;
      text-align: center;
      .Home__footer-left {
        font-size: 0.9rem;
        margin-top: 50px;
      }
      .Home__footer-right {
        margin-top: 50px;
      }
    }

    @media screen and (min-width: 321px) and (max-width: $break-small) {
      flex-direction: column;
      text-align: center;
      .Home__footer-left {
        font-size: 1.1rem;
      }
      .Home__footer-right {
        margin-top: 50px;
      }
    }
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Logo__title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 300;
      color: #13171a;
      display: block;
    }

    .Logo__subtitle {
      font-size: 15px;
      line-height: 1.25rem;
      font-weight: 300;
      color: rgb(88, 103, 114);
      display: block;
    }
  }
}
