$font-prefix: '~@ibm/plex';
@import '~@ibm/plex/scss/ibm-plex.scss';

* {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

html {
  width: 100vw;
}

body {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background-color: #fafafa;
}

#root,
.wrap {
  height: 100%;
}
